body {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

nav {
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

nav a {
  display: block;
  width: 90px;
}

nav ul li a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.nav-left {
  float: left;
}

.nav-left ul li {
  float: left;
}

.nav-right ul li {
  float: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  text-align: center;
}

.hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-list li {
  text-align: left;
  font-size: 24px;
}

.flexible_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

.row_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

.article_link {
  padding: 40px;
}

.row_item_title {
  text-align: center;
}

.price {
  text-align: left;
}

.recipe_extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  text-align: center;
}

.checkbox input,
.radio input {
  margin: 8px;
}

.values {
  padding-bottom: 20px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join_slack {
  max-width: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  text-align: center;
  /* will center text in <p>, which is not a flex item */
}

.join_slack a {
  text-decoration: none;
}

