@import url(https://fonts.googleapis.com/css?family=Noto+Sans);body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

svg:not(:root).svg-inline--fa {
  cursor: pointer;
  margin-left: -2px;
  margin-right: 14px;
}

label {
  display: block;
  border-radius: 4px;
  margin-bottom: 7px;
  padding: 0.3em;
}

h3 {
  margin: 10px;
}

.homepage-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.homepage-hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  padding: 15px;
  height: 250px;
  font-size: 24px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.homepage-hero h3 {
  color: #26ce81;
}

#homepage-2 {
  margin-top: 200px;
}

#homepage-3 {
  margin-top: 400px;
}

@media (max-width: 400px) {
  .homepage-hero-wrapper {
    display: block;
    min-height: 0;
  }

  #homepage-2 {
    margin-top: 0;
  }

  #homepage-3 {
    margin-top: 0;
  }
}

.image_icon {
  max-height: 50px;
}

.tiny_img {
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .header-inline {
    display: block;
  }

  .datepicker-wrapper {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .header-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#datepicker {
  height: 30px;
  margin-top: 25px;
  font-size: 16px;
  border: grey 1px solid;
  border-radius: 4px;
}

.bold {
  font-weight: bold;
}

.sources_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.sources {
  text-align: left;
}

.section-title {
  margin-top: 40px;
  margin-left: 20px;
}

.btn-wrapper {
  text-align: center;
  padding-top: 25px;
}

.btn {
  padding: 10px 20px;
  background-color: #26ce81;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}

.call-out {
  text-transform: uppercase;
  font-size: 24px;
}

.call-out-small {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 5px;
}

.flexible_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 0;
}

.button_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.styled-link {
  color: #26ce81;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}

.button_row a {
  text-decoration: none;
}

.row_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
}

.calculator_item {
  padding: 0;
}

@media (max-width: 767px) {
  .flexible_row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .row_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.row_item a {
  text-decoration: none;
  color: #26ce81;
  font-weight: 900;
  font-size: 18px;
}

.row_header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}

.recipe_detail {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.instructions {
  text-align: left;
}

.button_link {
  padding: 40px;
  text-transform: uppercase;
}

.article_link {
  padding: 20px;
}

.article_link a {
  color: #217954;
  font-size: 16px;
}

.row_item_title {
  text-align: center;
}

.price {
  text-align: left;
}

#calculator label {
  text-align: left;
  margin: 10px;
}

.quiz_item #calculator input {
  margin: 0;
}

.recipe_extras p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0px 15px;
}

.recipe_extras p:nth-child(3) {
  border: 0;
}

.footer {
  text-align: center;
}

.checkbox input,
.radio input {
  margin: 8px;
}

.values {
  padding-bottom: 20px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join_slack {
  max-width: 300px;
  margin: 20px;
  background-color: #10CF7D;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  /* will center text in <p>, which is not a flex item */
}

.join_slack a {
  text-decoration: none;
  color: white;
}

.call_to_action {
  width: 100%;
  background-color: #26ce81;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

@media (max-width: 767px) {
  .call_to_action {
    height: 350px;
  }

  .image_icon {
    height: 30px;
  }

  .nav {
    height: 30px;
  }

  .nav-right ul {
    line-height: 36px;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .tiny_img {
    height: 160px;
  }
}

.call_to_action p {
  font-size: 22px;
  margin: 15px;
}

.input_button {
  margin: 20px;
}

.email-submit {
  width: 200px;
  padding: 5px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
}

.call_to_action .button {
  height: 50px;
  background-color: white;
  color: #26ce81;
  padding: 13px 40px;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.call_to_action_quiz .button {
  height: 50px;
  background-color: #26ce81;
  color: white;
  padding: 13px 40px;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.article_wrapper {
  text-align: center;
}

.article_container {
  width: 90%;
  max-width: 730px;
  display: inline-block;
  text-align: left;
}

.article_container h2 {
  text-align: center;
  color: grey;
  width: 100%;
  font-size: 20px;
}

.article_container h1 {
  text-align: center;
  width: 100%;
  font-size: 42px;
}

.article_header_image {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.image_wrapper {
  text-align: center;
}

.image_large {
  width: 100%;
  margin: 15px 0px;
  max-height: 650px;
  display: inline-block;
}

.subtitle {
  margin-top: 50px;
}

.first_content {
  margin-top: 50px;
}

.forest_counter {
  font-size: 1.5em;
  padding: 10px;
  background-color: #10CF7D;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  width: 95%;
  margin-top: 30px;
}

#acres {
  color: black;
}

#waste {
  color: black;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.footer_title {
  margin-top: 100px;
  text-align: center;
}

.footer_wrapper {
  margin-bottom: 50px;
  text-align: center;
}

.research {
  margin-bottom: 20px;
}

.other-recipes {
  text-align: center;
}

.green {
  background-color: #26ce81;
  text-align: center;
}

.red {
  background-color: red;
  text-align: center;
}

.container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-text {
  color: #26ce81;
  font-weight: 900;
}

.form__field {
  width: 360px;
  background: #fff;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  margin-bottom: 10px;
}

input .user-input #email {
  font-size: 20px;
}

.login-button {
  height: 50px;
  background-color: white;
  color: #26ce81;
  padding: 13px 40px;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-nav {
  border-radius: 4px;
  background-color: #26ce81;
  padding: 0px 20px;
}

@media (max-width: 767px) {
  .login-nav {
    padding: 0 10px;
  }
}

.login-nav a {
  color: white;
}

.table-data {
  text-align: center;
  border: 1px solid black;
  background-color: transparent;
  font-size: 30px;
  border-radius: 7px;
  color: black;
}

.table-recommended {
  font-size: 30px;
}

.card-wrapper {
  text-align: center;
}

.food-card {
  padding: 30px;
  text-align: center;
  margin: 5px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  width: 80%;
  display: inline-block;
}

@media (min-width: 1200px) {
  .food-card {
    max-width: 27%;
  }
}

.food-card a {
  font-weight: 900;
  font-size: 18px;
  padding: 10px;
}

#go-button {
  background-color: white;
  color: #26ce81;
  height: 30px;
  width: 50px;
  margin: 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: grey 1px solid;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
}

.fixed-nav #myProgress {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  margin: 0 auto;
  max-width: none;
}

#myBar {
  height: 30px;
  background-color: #26ce81;
  text-align: center;
  line-height: 30px;
  color: white;
}

.user-nav {
  margin-bottom: 25px;
}

.user-nav a {
  color: #26ce81;
  font-size: 12px;
  font-weight: bold;
  margin: 3px;
  text-decoration: none;
  border-bottom: #26ce81 3px solid;
}

@media (min-width: 767px) {
  .user-nav a {
    font-size: 18px;
    margin: 10px;
  }
}

.active-nav-item {
  color: black !important;
  border-bottom: black 3px solid !important;
}

#week-score {
  text-align: center;
  font-size: 38px;
  color: #26ce81;
}

.recipe-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.tags {
  width: 50%;
}

.tags a {
  text-transform: capitalize;
}

.right-buttons {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.save {
  cursor: pointer;
}

@media (max-width: 767px) {
  .recipe-buttons {
    display: block;
    text-align: center;
  }

  .tags {
    margin: 0 auto 30px;
  }

  .tags .btn {
    margin-bottom: 10px;
  }

  .right-buttons {
    margin: 0 auto 30px;
    width: 100%;
  }
}

.food-button {
  margin: 5px;
}

.start-quiz {
  text-align: center;
}

.quiz-btn {
  cursor: pointer;
}

.quiz_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  padding: 30px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  max-width: 600px;
  margin: 0 auto;
}

.quiz-input {
  height: 16px;
  margin-bottom: 10px;
}

.quiz_item input {
  padding: 15px 0;
  font-size: 20px;
  width: 40px;
  text-align: center;
  border-radius: 7px;
  border: grey 1px solid;
}

.quiz_item .btn-wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-wrapper {
  text-align: left;
  margin-left: 4em;
}

.input_prompt {
  margin: 10px;
  font-size: 20px;
}

.quiz-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}

#update_text {
  color: #26ce81;
  font-weight: bold;
}

#share-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0px 0px 0px;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  display: inline;
}

