@import url(https://fonts.googleapis.com/css?family=Noto+Sans);body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  height: 100%;
  color: #212121;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.5;
}

nav {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  line-height: 61px;
}

nav a {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #26CE81;
  font-weight: bold;
}

.nav-left {
  float: left;
}

@media (max-width: 767px) {
  .image_icon {
    height: 30px;
  }
}

.veg-green {
  color: #26ce81;
}

@media (min-width: 768px) {
  nav ul li a {
    font-size: 20px;
  }

  .features-text {
    max-width: 500px;
  }

  .landing-page-title {
    font-size: 40px !important;
  }

  .landing-page-h2 {
    font-size: 32px !important;
  }

  nav {
    height: 58px !important;
  }

  #subtitle {
    font-size: 40px;
  }

  .image_icon {
    max-height: 58px !important;
  }

  .homepage-header {
    margin-top: 80px !important;
  }

  .hero {
    min-width: 450px;
  }

  .homepage_container_grey {
    padding: 20px;
  }

  .homepage_container_white {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .homepage-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .homepage-flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #desktop-pic {
    height: auto;
    width: auto;
    max-width: 650px;
    max-height: 650px;
  }

  .wrapper {
    margin: 0 100px 0 0;
  }
}

.nav-left ul li {
  text-align: left;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}

#landing-page-sub {
  color: #4a4a4a;
}

.homepage_container_grey {
  background-color: #f7f7f7;
}

.homepage_container_grey h2 {
  color: #212121;
}

.homepage_container_grey a {
  text-decoration: none;
}

.homepage_container_white h2 {
  color: #212121;
}

.homepage_container_white a {
  text-decoration: none;
}

.hero {
  text-align: center;
}

.title {
  max-width: 700px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
}

.hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-list-wrapper {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-top: 4px solid #26ce81;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 10px 10px 20px;
  text-align: left;
}

.hero-list-wrapper h3 {
  margin: 0;
}

.hero-list {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.hero-list li {
  text-align: left;
  font-size: 18px;
  line-height: 1.75;
}

.topnav {
  cursor: pointer;
  z-index: 99;
}

.topnav a {
  display: block;
  color: #26ce81;
  text-align: center;
  padding: 14px 14px 14px 22px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:not(first-child) {
  display: none;
}

.topnav a.icon {
  float: right;
  display: block;
}

#navId {
  position: absolute;
  right: 20px;
  border: .5px solid lightgray;
  border-radius: 5px;
}

.topnav.responsive .icon {
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: right;
}

.topnav.responsive {
  background-color: #ffffff;
}

.join-burger {
  background-color: #26ce81;
  color: #ffffff !important;
}

@media screen and (max-width: 767px) {
  #mytopnav {
    right: 10px;
  }

  .topnav a {
    font-size: 16px;
  }

  .topnav a:first-child {
    padding: 7px 7px 7px 15px;
  }

  .topnav a:not(first-child) {
    padding: 10px;
  }
}

.hero p {
  font-size: 18px;
}

.homepage-header {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .custom-flex-grid {
    display: block;
    margin-top: 20px;
    line-height: 30px;
  }

  .custom-flex-grid .col {
    margin: 0 0 10px 0;
    text-align: center;
  }

  #desktop-pic {
    height: auto;
    width: 100%;
  }

  #phone-pic {
    height: auto;
    max-width: 350px;
  }

  .photo {
    text-align: center;
  }

  #subtitle {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  #phone-pic {
    padding-right: 100px;
  }
}

@media (min-width: 768px) {
  .custom-flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }

  .custom-flex-grid .col {
    width: 24%;
    margin: 20px 0 20px 0;
  }

  #phone-pic {
    height: auto;
    width: auto;
    max-width: 550px;
    max-height: 450px;
  }
}

.col {
  background-color: #26ce81;
  margin: 7px;
  border-radius: 4px;
  border: .5px solid #e0e0e0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 20px;
}

.homepage_goals p {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

