body {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

nav {
  padding: 15px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

nav a {
  display: block;
  width: 90px;
}

nav ul li a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.nav-left {
  float: left;
}

.nav-left ul li {
  float: left;
}

.nav-right ul li {
  float: right;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  text-align: center;
}

.hero_text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.flexible_row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0px;
}

.row_item {
  flex: 1;
  list-style: none;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.article_link {
  padding: 40px;
}

.row_item_title { text-align: center; }


.price {
  text-align: left;
}

.recipe_extras {
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
}

.checkbox input, .radio input {
  margin: 8px;
}

.values {
  padding-bottom: 20px;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join_slack {
    max-width: 300px;
    margin: 20px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}