@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

nav {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  height: 50px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  line-height: 61px;
}

nav a {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #26CE81;
  font-weight: bold;
}

.nav-left {
  float: left;
}

@media (max-width: 767px) {
  .image_icon {
    height: 30px;
  }
}

// not mobile
@media (min-width: 768px) {
  nav ul li a {
    font-size: 20px;
  }

  .nav-right ul li {
    padding-left: 20px !important;
  }

  nav {
    height: 58px !important;
  }

  .image_icon {
    max-height: 58px !important;
  }
}

.nav-left ul li {
  text-align: left;
}

.nav-right {
  text-align: right;
}

.nav-right ul li{
  display: inline-block;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}

.hero {
  text-align: center;
}

.title {
  max-width: 700px;
  text-align: center;
  display: inline-block;
}

.hero_text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero-list-wrapper {
  border: 3px solid #e2e2e2;
  padding: 10px;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
}

.hero-list-wrapper h3 {
  margin: 0;
}

.hero-list {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.hero-list li {
  text-align: left;
  font-size: 18px;
  line-height: 1.75;
}
