@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$almost-black: hsl(0, 0%, 13%);
$grey-text: hsl(0, 0%, 29%);
$grey-background: hsl(0, 0%, 97%);

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  height: 100%;
  color: $almost-black;
}

$vegaroo-primary-color: #26ce81;

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  line-height: 1.5;
}

nav {
  padding: 15px;
  border-bottom: 1px solid lightgray;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  line-height: 61px;
}

nav a {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: #26CE81;
  font-weight: bold;
}

.nav-left {
  float: left;
}

@media (max-width: 767px) {
  .image_icon {
    height: 30px;
  }
}
.veg-green {
  color: $vegaroo-primary-color;
}
// not mobile
@media (min-width: 768px) {
  nav ul li a {
    font-size: 20px;
  }

  .landing-page-title {
    font-size: 40px !important;
  }

  nav {
    height: 58px !important;
  }

  .image_icon {
    max-height: 58px !important;
  }

  .homepage-header {
    margin-top: 80px !important;
  }

  .hero {
    min-width: 450px;
  }
}



@media (min-width: 992px) {
  .homepage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homepage-flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #desktop-pic {
    height: auto;
    width: auto;
    max-width: 800px;
    max-height: 800px;
  }

  .wrapper {
    margin: 0 100px 0 0;
  }
}

.nav-left ul li {
  text-align: left;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}

#landing-page-sub {
  color: $grey-text;
}

.homepage_container_grey {
  background-color: $grey-background;
  h2 {
    color: $almost-black;
  }
  a {
    text-decoration: none;
  }
}

.homepage_container_white {
  h2 {
    color: $almost-black;
  }
  a {
    text-decoration: none;
  }
}

.hero {
  text-align: center;
}

.title {
  max-width: 700px;
  font-size: 28px;
  text-align: center;
  display: inline-block;
}


.hero_text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero-list-wrapper {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, .2);
  border-top: 4px solid $vegaroo-primary-color;
  border-radius: 4px;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 10px 10px 20px;
  text-align: left;
}

.hero-list-wrapper h3 {
  margin: 0;
}

.hero-list {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.hero-list li {
  text-align: left;
  font-size: 18px;
  line-height: 1.75;
}

// hamburger
.topnav {
  cursor: pointer;
  z-index: 99;
}

.topnav a {
  display: block;
  color: #26ce81;
  text-align: center;
  padding: 14px 14px 14px 22px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:not(first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}

#navId {
  position: absolute;
  right: 20px;
  border: .5px solid lightgray;
  border-radius: 5px;
}

.topnav.responsive .icon {
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: right;
}

.topnav.responsive {
  background-color: #ffffff;
}

.join-burger {
  background-color: #26ce81;
  color: #ffffff !important;
}

@media screen and (max-width: 767px) {
  #mytopnav {
    right: 10px;
  }

  .topnav a {
    font-size: 16px;
  }

  .topnav a:first-child {
    padding: 7px 7px 7px 15px;
  }

  .topnav a:not(first-child) {padding: 10px;}
}

// HOMEPAGE
.hero p {
  font-size: 18px;
}

.homepage-header {
  margin-top: 40px;
}

// mobile
@media (max-width: 767px) {
  .custom-flex-grid {
    display: block;
    margin-top: 20px;
    line-height: 30px;
    .col {
      margin: 0 0 10px 0;
      text-align: center;
    }
  }
  #desktop-pic {
    height: auto;
    width: 100%;
  }
  #phone-pic {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .custom-flex-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
  }

  .custom-flex-grid .col {
    width: 24%;
    margin-bottom: 20px;
  }

  #phone-pic {
    height: auto;
    width: auto;
    max-width: 550px;
    max-height: 550px;
  }
}

.col {
  background-color: white;
  margin: 7px;
  border-radius: 4px;
  border: .5px solid #e0e0e0;
  box-shadow: 0 4px 10px rgba(0,0,0,.15);
  text-align: center;
  padding: 20px;
}

.homepage_goals {
  p {
    font-size: 20px;
    color: $vegaroo-primary-color;
    font-weight: bold;
  }
}